[Unit]
Description=Check for emails periodically
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnBootSec= 5min
OnUnitActiveSec= 5min
Unit=checkmail.service

[Install]
WantedBy=default.target
