
! Fonts
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! See package fonts-inconsolata for debian
URxvt.font: xft:Inconsolata-11
URxvt.boldFont: xft:Inconsolata-11
URxvt.letterSpace: 0

! Hide scrollbar
URxvt.scrollBar: false

! Force term to send selection to CLIPBOARD (used by GUI) rather than PRIMARY
XTerm*selectToClipboard: true
URxvt.perl-ext-common: selection-to-clipboard

! Color palette

*.foreground:   #eaeaea
*.background:   #1d1f21
*.cursorColor:  #aeafad

! Black
*.color0:       #000000
*.color8:       #666666

! Red
*.color1:       #d54e53
*.color9:       #ff3334

! Green
*.color2:       #46b47c
*.color10:      #9ec400

! Yellow
*.color3:       #e78c45
*.color11:      #e7c547

! Blue
*.color4:       #7aa6da
*.color12:      #7aa6da

! Magenta
*.color5:       #c397d8
*.color13:      #b777e0

! Cyan
*.color6:       #70c0b1
*.color14:      #54ced6

! Light Grey
*.color7:       #2a2a2a
*.color15:      #424242

! Style
*.colorBD:      #aaaaaa
!*.colorIT:
!*.colorUL:
