
! Fonts
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! See package fonts-inconsolata for debian
URxvt.font: xft:Inconsolata-11
URxvt.boldFont: xft:Inconsolata-11
URxvt.letterSpace: 0

! Hide scrollbar
URxvt.scrollBar: false

! Force term to send selection to CLIPBOARD (used by GUI) rather than PRIMARY
XTerm*selectToClipboard: true
URxvt.perl-ext-common: selection-to-clipboard

! Color palette

! special
*.foreground:   #fafafa
*.background:   #0a0c0f
*.cursorColor:  #eaeaea

! black
*.color0:       #000000
*.color8:       #666666

! red
*.color1:       #c0392b
*.color9:       #ff1d1d

! green
*.color2:       #46b47c
*.color10:      #74c431

! yellow
*.color3:       #e78c45
*.color11:      #f1c40f

! blue
*.color4:       #2955b9
*.color12:      #3290cf

! magenta
*.color5:       #c397d8
*.color13:      #b777e0

! cyan
*.color6:       #70c0b1
*.color14:      #26cbd6

! white
*.color7:       #2a2a2a
*.color15:      #424242

! style
*.colorBD:      #aaaaaa
!*.colorIT:
!*.colorUL:
